# Basics of Python
### Name : kushal warade
### PRN : 25070123174
### Batch : ENTC A2

In [ ]:
# Printing a string

print("Hello, Welcome to Python Programming")

Hello, Welcome to Python Programming

In [ ]:
# Printing a variable

a = "Hello"
print(a)

Hello

In [ ]:
# Comments
# This is a comment

print("Hello world")

Hello world

In [ ]:
# Many Statements
# 3 physical and 3 logical statements

print("Hello World")
print("Have a good Day")
print("Learning Python is fun")

Hello World
Have a good Day
Learning Python is fun

In [ ]:
# 1 physical statements and 3 logical statements

print("Hello"); print("How are you?"); print("Bye bye!")

Hello
How are you?
Bye bye!

In [ ]:
# Print Numbers

a = 3
print(a)
print(358)
print(50.235)

3
358
50.235

In [ ]:
# Variables

x = 5
y = "Hello World"

print(x)
print(y)

5
Hello World

In [ ]:
# Case Sensitive

a = 4
A = "Sally"

print(a)
print(A)

4
Sally

In [ ]:
# Many values to Multiple Variables


x, y, z = "Dustin", "Lucas", "Will"
print(x,y,z)

Dustin Lucas Will

# Arithmetic Operations

In [ ]:
# Basic Arithmetic Operations

a = 10
b = 5

print("The sum is",a+b)
print("The difference is",a-b)
print("The product is",a*b)
print("The quotient is",a/b)

The sum is 15
The difference is 5
The product is 50
The quotient is 2.0

# Data Types in Python

In [ ]:
# understanding data Types

u = 12
v = 3.69
w = "College"
x = True
y = 2+3j

print(type(u))
print(type(v))
print(type(w))
print(type(x))
print(type(y))

# all the above mentioned data types are in built

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

# Input from User

In [ ]:
# Taking input from user

name = input("Enter your name: ")
year = int(input("Enter your year of birth: "))
age = float(input("Enter you current age in decimal: "))

print("Name: ", name)
print("Year of Birth: ", year)
print("Age: ", age)

Enter your name: Lehalyaa
Enter your year of birth: 2007
Enter you current age in decimal: 18.6
Name:  Lehalyaa
Year of Birth:  2007
Age:  18.6

#Boolean in Python

In [ ]:
# Python Booleans

print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

# Problem Statements

In [ ]:
# student marks

phy = int(input("Enter your Physics marks: "))
chem = int(input("Enter your Chemistry marks: "))
bio = int(input("Enter your Biology marks:"))
eng = int(input("Enter your English marks: "))
math = int(input("Enter your Mathematics marks: "))
sum = phy + chem + bio + eng + math
print("Your total marks are: ", sum)
print("Your Average mark is: ", sum / 5 )

Enter your Physics marks: 88
Enter your Chemistry marks: 99
Enter your Biology marks:96
Enter your English marks: 98
Enter your Mathematics marks: 90
Your total marks are:  471
Your Average mark is:  94.2

In [ ]:
# Area of Circle

r = float(input("Enter the radius of the circle: "))
area = 3.14 * r * r
print("The area of the circle of the given radius is: ", area)

Enter the radius of the circle: 2.5
The area of the circle of the given radius is:  19.625

In [ ]:
# Area of a Rectangle

l  = float(input("Enter the length of the rectangle: "))
b = float(input("Enter the breadth of the rectangle: "))
area = l * b
print("The area of the rectangle is: ", area)

Enter the length of the rectangle: 8
Enter the breadth of the rectangle: 6
The area of the rectangle is:  48.0

In [ ]:
# Perimeter of Rectangle

l  = float(input("Enter the length of the rectangle: "))
b = float(input("Enter the breadth of the rectangle: "))
perimeter = 2 * (l + b)
print("The perimeter of the rectangle is: ", perimeter)

Enter the length of the rectangle: 6
Enter the breadth of the rectangle: 9
The perimeter of the rectangle is:  30.0

In [ ]:
# Simple Calculator

n1 = float(input("Enter the first number: "))
n2 = float(input("Enter the second number: "))
print("Enter \n + for Addition \n - for Subtraction \n * for Multiplication \n / for Division")
op = input("Enter the operator:")
if(op == '+'):
  print("The sum is: ", n1 + n2)
elif(op == '-'):
  print("The difference is: ", n1 - n2)
elif(op == '*'):
  print("The product is: ", n1 * n2)
elif(op == '/'):
  print("The quotient is: ", n1 / n2)
else:
  print("Invalid Operator")

Enter the first number: 3.69
Enter the second number: 56.23
Enter
 + for Addition
 - for Subtraction
 * for Multiplication
 / for Division
Enter the operator:+
The sum is:  59.919999999999995