# expreriment 6 : CONDITIONAL STATEMENTS
# Kushal warade
#  25070123174

In [5]:
#1. check whether a number is positive, negative or zero

n = int(input("enter a number:"))
if n > 0:
        print("Positive")
elif n < 0:
        print("Negative")

else:
        print("Equal to zero")

enter a number:77
Positive

In [6]:
n =int(input("enter a number:"))
if n % 2 == 0:
    print("Even")
else:
    print("Odd")

enter a number:45
Odd

In [7]:
# find the largest of two numbers
a=int(input("enter a number:"))
b=int(input("enter a number:"))
if a > b:
  print("a is the largest number")
else:
  print("b is the largest number")

enter a number:34
enter a number:343
b is the largest number

In [8]:
# find the largest of three numbers
a=int(input("enter a number:"))
b=int(input("enter a number:"))
c=int(input("enter a number:"))
if a > b and a > c:
  print("a is the largest number")
elif b > a and b > c:
  print("b is the largest number")
else:
  print("c is the largest number")

enter a number:33
enter a number:3333
enter a number:232
b is the largest number

In [9]:
marks1 = int(input("enter your marks for suject1:"))
marks2 = int(input("enter your marks for suject2:"))
marks3 = int(input("enter your marks for suject3:"))
marks4 = int(input("enter your marks for suject4:"))
marks5 = int(input("enter your marks for suject5:"))
average = ((marks1+marks2+marks3+marks4+marks5)/5)
if average >= 90:
    print("Grade O")
elif average >= 80:
    print("Grade A")
elif average >= 70:
    print("Grade B")
elif average >= 60:
    print("Grade C")
elif average >= 50:
    print("Grade D")
else:
  print("failed")

enter your marks for suject1:23
enter your marks for suject2:45
enter your marks for suject3:67
enter your marks for suject4:32
enter your marks for suject5:35
failed

In [ ]:
3#Problem Statement - 6   -   Check whether a year is leap year
year = int(input("Enter the year to be checked: "))
if (year % 4 == 0 and year % 100 != 0 or year % 400 ==0):
  print(year, "is a leap year")
else:
  print(year, "is not a leap year")

In [1]:
#Problem Statement - 7   -   Check whether a date entered s valid or not

date = input("Enter date in the format (dd/mm/yyyy): ")
x = date.split("/")
d = int(x[0])
m = int(x[1])
y = int(x[2])

if(m == 1 or m == 3 or m == 5 or m == 7 or m == 8 or m == 10 or m == 12):
  max_d = 31
elif(m == 4 or m == 6 or m == 9 or m == 11):
  max_d = 30
elif(y %4 == 0 and y %100 != 0 or y %400 ==0):
  max_d = 29
else:
  max_d = 28

if (m > 12 or m < 1):
  print("Date is Invalid")
elif(d > max_d or d<1):
  print("Date is Invalid")
else:
  print("-----------")
if(d == 31 and m == 12):
  i_d = 1
  m = 1
  y += 1
elif(d == max_d):
  i_d = 1
  m += 1
else:
  i_d = d + 1

print("The next date is: ", i_d, "/", m, "/", y)

Enter date in the format (dd/mm/yyyy): 20/03/2006
-----------
The next date is:  21 / 3 / 2006

In [4]:
basic_sal = int(input("Enter the Basic Salary: "))

if(basic_sal <= 10000):
  HRA = (20/100) * basic_sal
  DA = (80/100) * basic_sal

elif(basic_sal <= 20000):
  HRA = (25/100) * basic_sal
  DA = (90/100) * basic_sal

else:
  HRA = (30/100) * basic_sal
  DA = (95/100) * basic_sal

gross_sal = basic_sal + HRA + DA
print(gross_sal)

Enter the Basic Salary: 250000
562500.0

In [3]:
salary = int(input("Enter the salary: "))

if(salary <= 250000):
  tax = 0
elif(salary <= 500000):
  tax = (salary - 250000) * 0.05

elif(salary <= 1000000):
  tax = (250000 * 0.05) + (500000 * 0.20) + (salary - 1000000) * 0.30

print("The Tax amount to be paid is ", tax)
print("The salary In - Hand is ", salary - tax)

Enter the salary: 24000
The Tax amount to be paid is  0
The salary In - Hand is  24000