# study of pandas library

# **kushal warade**
25070123174

In [ ]:
#study of pandas

In [6]:
import pandas as pd

s = pd.Series([1,2,3,4])
print(s)

0    1
1    2
2    3
3    4
dtype: int64

In [11]:
# create data frame
data = {
    "name":["kushal","harsh","doreomon"],
    "marks":[90,60,92]
}
df = pd.DataFrame(data)
print(df)

       name  marks
0    kushal     90
1     harsh     60
2  doreomon     92

In [12]:
# FIND THE STRUCTURE OF DATAFRAME
df.shape

(3, 2)

In [13]:
print(df.ndim)

2

In [14]:
print(df.size)

6

In [15]:
df.columns

Index(['name', 'marks'], dtype='object')

In [16]:
df.dtypes

name     object
marks     int64
dtype: object

In [17]:
df["name"]

0      kushal
1       harsh
2    doreomon
Name: name, dtype: object

In [18]:
df.loc[1]

name     harsh
marks       60
Name: 1, dtype: object

In [26]:
df["Grade"] = ["first class","second class","distintion"]
df

       name  marks        grade         Grade
0    kushal     90  first class   first class
1     harsh     60   distention  second class
2  doreomon     92  secondclass    distintion

In [27]:
# update data in data frame
# chamge marks of kushal to 88

df.loc[0,"marks"] = 88
df

       name  marks        grade         Grade
0    kushal     88  first class   first class
1     harsh     60   distention  second class
2  doreomon     92  secondclass    distintion

In [33]:
# deleat a coloumn
df.drop("Grade",axis=1,inplace=True)
df

       name  marks        grade
0    kushal     88  first class
1     harsh     60   distention
2  doreomon     92  secondclass

In [35]:
max1=df["marks"].max()
max1

92

In [36]:
# apply codition (filterig)
# displystudents scoring more than 80

df[df["marks"]>80]

       name  marks        grade
0    kushal     88  first class
2  doreomon     92  secondclass