# Operations on Tuple

### Name : kushal warade
### PRN : 25070123174
### Batch : ENTC A2

In [1]:
## Python Tuples
# Access Tuple Items

brands = ("apple", "dnm", "Rolex", "rado", "Titan", "Sonata")
print(brands[3])

rado

In [ ]:
# Tuple is Immutable

brands = ("prada", "Lifestyle", "Rolex", "Casio", "Titan", "Sonata")
brands[2] = "Boat"
print(brands)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Addition of Tuples

t1 = (1, 3, 7, 9)
t2 = (2, 4, 6, 8)
t3 = t1 + t2
print("t1: ", t1)
print("t2: ", t2)
print("t3: ", t3)

In [2]:
#Address Verification after Appending new item in the Tuple

brands = ("prada", "Lifestyle", "Rolex", "Casio", "Titan", "Sonata")
print("Before: ", id(brands), "\n")
new = ("Ferrari",)
brands = brands + new
print("After: ", id(brands),"\n")

Before:  139173063563904

After:  139173211885856

In [3]:
#Address Verification after Appending new item in the List

brands = ["prada", "Lifestyle", "Rolex", "Casio", "Titan", "Sonata"]
print("Before: ", id(brands), "\n")
new = ["Ferrari"]
brands += new
print("After: ", id(brands),"\n")

Before:  139173064121472

After:  139173064121472

In [4]:
# Problem Statement - 1 - Student Mark Analysis

data = ("english", 65, "A")
print("Subject: ", data[0])
print("Marks: ", data[1])
print("Grade: ", data[2])
if (data[1] > 75):
  print("The Student has Acheieved 'Distinction'")

Subject:  english
Marks:  65
Grade:  A

In [5]:
# Problem Statement - 2 Employee Attendance

attendance = ("a", "a", "a", "a", "a", "a")
print("Total Present Days: ", attendance.count("P"), "\n")
print("Total Absent Days: ", attendance.count("A"),"\n")
if ("A" in attendance):
  print("The Employee is Absent atleast once")
else:
  print("The Employee is Present")

Total Present Days:  0

Total Absent Days:  0

The Employee is Present