# Study of List and various operations on it
### Name : kushal warade
### PRN : 25070123174
### Batch : ENTC A2

In [1]:
## Python Lists

f_list = ["ENTC", 205 , 3.69]
print(f_list)

['ENTC', 205, 3.69]

In [ ]:
# List allows Duplicates

f_list = ["ENTC", 1206 , 3.69 ,1206]
print(f_list)

['ENTC', 1206, 3.69, 1206]

In [ ]:
#List Length

s_list = [1,2,3, "Water", 4.56]
print(len(s_list))

5

In [ ]:
# A list with strings, integers and Boolean Values

l1 = ["Hey", 12 , True, 9.35 , False]

In [ ]:
# Access Items

example = ["abc", 34, True, 40, "male"]
print(example[2])
print(example[4])

True
male

In [ ]:
# Reverse / Negative Indexing

example = ["abc", 34, True, 40, "male"]
print(example[-1])
print(example[-3])
print(example[-5])

male
True
abc

In [ ]:
# List Slicing

subjects = ["Physics", "Chemistry", "Maths", "English", "Hindi", "Computer Science"]
print(subjects[1:4])
print(subjects[-5:-1])# Reverse Indexing
print(subjects[:4]) # To print without the starting index
print(subjects[2:]) # To print without the ending index

['Chemistry', 'Maths', 'English']
['Chemistry', 'Maths', 'English', 'Hindi']
['Physics', 'Chemistry', 'Maths', 'English']
['Maths', 'English', 'Hindi', 'Computer Science']

In [ ]:
# Change Item Value

subjects = ["Physics", "chemistry", "Maths", "English", "Hindi", "Computer Science"]
subjects[-2] = "PE"
subjects[0] = "IT"
print(subjects)

['IT', 'Chemistry', 'Maths', 'English', 'PE', 'Computer Science']

In [2]:
# Append Items

name = ["akshara", "kushal", "Charles", "ragini"]
name.append("Emily")
print(name)

['akshara', 'kushal', 'Charles', 'ragini', 'Emily']

In [ ]:
# Insert Items

name = ["akshara", "bhuvan", "Charles", "Dharshini"]
name.insert(4 , "Aditi")
print(name)

['akshara', 'bhuvan', 'Charles', 'Dharshini', 'Aditi']

In [3]:
# Extend List

sem1 = ["tfv", "ECSF", "CTEE", "IES", "PC"]
sem2 = ["PES", "AMT", "EDA", "DCLD", "IKS"]
sem1.extend(sem2)
print(sem1)

['tfv', 'ECSF', 'CTEE', 'IES', 'PC', 'PES', 'AMT', 'EDA', 'DCLD', 'IKS']

In [ ]:
# Searching Items

name = ["akshara", "bhuvan", "Charles", "Dharshini"]
"aditi" in name

False

In [4]:
# Repetition

college = ("-mit-") * 9
print(college)

-mit--mit--mit--mit--mit--mit--mit--mit--mit-

In [ ]:
# Problem Statement - 1 - Slicing Techniques

numbers = [10,20,30,40,50]
print("Elements from index 1 to 3")
print(numbers[1:4], "\n")

print("First Three Elements")
print(numbers[:3], "\n")

print("Elements from Index 2 onwards")
print(numbers[2:], "\n")

print("All Elements")
print(numbers[:] , "\n")

Elements from index 1 to 3
[20, 30, 40]

First Three Elements
[10, 20, 30]

Elements from Index 2 onwards
[30, 40, 50]

All Elements
[10, 20, 30, 40, 50]

In [ ]:
#Problem Statement - 2 - Student Marks Analysis

student_marks = [80 , 88 , 95, 99 , 96, 75, 94, 90, 78, 69]
print("Highest Mark - ", max(student_marks))
print("Lowest Mark - ", min(student_marks))
print("Average Mark - ", sum(student_marks)/len(student_marks))
student_marks.sort()
print("Sorted Marks:", student_marks)

Highest Mark -  99
Lowest Mark -  69
Average Mark -  86.4
Sorted Marks: [69, 75, 78, 80, 88, 90, 94, 95, 96, 99]

In [ ]:
# Problem Statement - 3 - Grocery Analysis

grocery = ["Dal", "Oil", "Soap", "Masala", "Vegetables"]
grocery_1 = ["Tooth Paste", "Tooth Brush", "Biscuits", "Detergent"]
print(grocery, "\n")
print("The List wtih extra added Items: ")
grocery.extend(grocery_1)
print(grocery, "\n")
print("The list with removed Items: ")
grocery.remove("Masala")
print(grocery, "\n")
print("The Final Grocery List")
print(grocery)

['Dal', 'Oil', 'Soap', 'Masala', 'Vegetables']

The List wtih extra added Items:
['Dal', 'Oil', 'Soap', 'Masala', 'Vegetables', 'Tooth Paste', 'Tooth Brush', 'Biscuits', 'Detergent']

The list with removed Items:
['Dal', 'Oil', 'Soap', 'Vegetables', 'Tooth Paste', 'Tooth Brush', 'Biscuits', 'Detergent']

The Final Grocery List
['Dal', 'Oil', 'Soap', 'Vegetables', 'Tooth Paste', 'Tooth Brush', 'Biscuits', 'Detergent']

In [5]:
# Problem Statement - 4 - Contact Analysis

contact = ["kushal warade", "Gayatri Bhosle", "Lehalyaa", "harsh bhawar", "Ayush Dumbre"]
contact.append("Akshara Sree")
print("The Updated List is: ", contact, "\n")
contact.remove("Ayush Dumbre")
print("The Removed List is: ", contact, "\n")
contact.sort()
print("The sorted List is: ", contact, "\n")

The Updated List is:  ['kushal warade', 'Gayatri Bhosle', 'Lehalyaa', 'harsh bhawar', 'Ayush Dumbre', 'Akshara Sree']

The Removed List is:  ['kushal warade', 'Gayatri Bhosle', 'Lehalyaa', 'harsh bhawar', 'Akshara Sree']

The sorted List is:  ['Akshara Sree', 'Gayatri Bhosle', 'Lehalyaa', 'harsh bhawar', 'kushal warade']

In [6]:
# Problem Statement - 5 - Temperature Analysis

temp = [ 34, 45, 38, 37, 32 , 22, 30 , 28, 31 , 30]
print("The first 5 days Temperature are: ", temp[0:5], "\n")
print("The last 5 days Temperature are: ", temp[-5:], "\n")
print("The highest Temperature: ", max(temp), "\n")
print("The lowest Temperature: ", min(temp), "\n")
print("The average Temperature: ", sum(temp)/len(temp), "\n")

The first 5 days Temperature are:  [34, 45, 38, 37, 32]

The last 5 days Temperature are:  [22, 30, 28, 31, 30]

The highest Temperature:  45

The lowest Temperature:  22

The average Temperature:  32.7